h1{
    color: black;
    text-align: center;
    justify-content: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{color: white;
    text-align: left;
    font-size: larger;
    text-shadow: white;

}
h2{text-emphasis: bold;
    text-align: center;
font-size: xx-large;
}


p{color: black;
    text-emphasis: bold ;
font-size: x-large;
}
/* body{ 
    background-image: url('https://bit.ly/2UyIRBA') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;;
  } */
  .topnav{background-color:black;
    padding: 20px;
  }
  .topnav a{color: blanchedalmond;
     font-size: larger;
     text-align: justify;

  }
  h3{color: black;
    text-align: center;
    text-emphasis: bold;
    font-size: xx-large;
  }
  h4{color: black;
    text-align: center;
    text-emphasis: bold;
    font-size: xx-large;

  }
  h5{color: black;
    text-align: center;
    text-emphasis: bold;
    font-size: xx-large;

  }
  h6 {color: black;
    text-align: center;
    text-emphasis: bold;
    font-size: xx-large;
  }
  
  .social{text-align: center;
  }
  .copyright{text-align: center;
  text-emphasis: bold;
  font-weight: bolder;
  font-size: x-large;
}
#first-webpage{text-align: center;}

.car{
  background-image: url("https://bit.ly/2UzyGwC");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
}