h1{
    color: black;
    text-align: center;
    justify-content: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{color: white;
    text-align: left;
    font-size: larger;
    text-shadow: white;

}
h2{text-emphasis: bold;
    text-align: center;
font-size: xx-large;
}


p{color: black;
    text-emphasis: bold ;
font-size: x-large;
}
html { 
    background: url(https://images.pexels.com/photos/262488/pexels-photo-262488.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed; 
    background-size: cover;
  }
  .topnav{background-color:black;
    padding: 20px;
  }
  .topnav a{color: blanchedalmond;
     font-size: larger;
     text-align: justify;

  }
  h3{color: black;
    text-align: center;
    text-emphasis: bold;
    font-size: xx-large;
  }
  h4{color: black;
    text-align: center;
    text-emphasis: bold;
    font-size: xx-large;

  }
  h5{color: black;
    text-align: center;
    text-emphasis: bold;
    font-size: xx-large;

  }
  h6 {color: black;
    text-align: center;
    text-emphasis: bold;
    font-size: xx-large;
  }
  .img{
    padding: 500px;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .social{text-align: center;
  }
  .copyright{text-align: center;
  text-emphasis: bold;
  font-weight: bolder;
  font-size: 40;
}
#first-webpage{text-align: center;}